<div class = 'container'>
  <h1>Planner</h1>
  <div class="row">
    <div class="column column-20"></div>
    <div class="column">
      <br>
      <%= link_to 'Assignments', assignments_path, class: 'button', style: 'width: 180px;color: white' %><br>
      <%= link_to 'Subjects', subjects_path, class: 'button', style: 'width: 180px;color: white' %><br>
    </div>
  </div>
</div>
